* { margin: 0; padding: 0;font-family: 'Heebo', sans-serif; }

header {
  margin: 10px auto;
  background-color: rgb(253, 253, 253);
  max-width: 900px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  padding: 2vh 0 2vh 2vw;
}

header nav {
  display: flex;
  justify-content:space-between;
 align-items:center;
}

.contact {
  display: flex;
  padding: 10px;
}

.contact .img-contact {margin: 0px 5px;}

.contact .img-contact img {
  width: 48px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.section-me {
  display: flex;
  justify-content: space-around;
}

.main {
  margin: 10px auto;
  background-color: rgb(253, 253, 253);
  max-width: 900px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 2vh 0 2vh 2vw;

}
.main .article-img {
  margin: 0 auto;
}

.main .article-img img{
  width: 200px;
  border-radius: 20%;  
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.article-text {
  margin: 5px 20px;
}

 /* SKILSSSS */

.title-principal {
  font-size: 1.4em;
  margin: 10px 10px 0px 0px;
  padding: 0vh 0 2vh 0vw;
}
.img-skills {
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-skill {
  margin: 10px auto;
  width: 64px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Projects */

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border-radius: 20px;
  box-shadow: 0px 1px 10px 0px rgba(5, 5, 5, 0.13);
  text-align: center;
  width: 280px;
  margin: 10px auto;
  padding: 30px 0px;
 }

.card:hover {
  box-shadow: 0px 11px 16px 0px rgba(5, 5, 5, 0.23);
  transition: all .3s;
}

.card-header {
  font-size: 30px;
  font-weight: bold;
  padding: 1.5rem;
}

.card-img {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s;
}

.card-img:hover {
  transform: scale(1.05);
}

.card-description {
  font-size: 16px;
  padding: 4.5%;
}

.cert {
  margin: 0px 10px 10px 20px;
}

.btn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin:0.2em 0.1em 0.1em 0.3em;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;  
}


.btn-demo:hover { 
   border-color: black;
}

@media all and (max-width: 700px) {
.section-me { 
  flex-direction: column;
}

.main .article-img img{
 width: 300px;
}

.article-text {
  text-align: center;
}
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  nav {
    flex-direction: column;
  }
  
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/